@model List<AITech.WebUI.DTOs.TestimonialDtos.ResultTestimonialDto>

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Testimonial</div>
                <h1 class="mb-4">What Say Our Clients!</h1>
                <p class="mb-4">Hear from our satisfied clients about their experience with our AI solutions and how we've helped transform their businesses.</p>
                <a class="btn btn-primary rounded-pill px-4" href="#">Read More</a>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                @if (Model != null && Model.Any())
                {
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        @foreach (var testimonial in Model)
                        {
                            <div class="testimonial-item ps-5">
                                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                                <p class="fs-4">@testimonial.Comment</p>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid flex-shrink-0 rounded-circle" src="@testimonial.ImageUrl" style="width: 60px; height: 60px;">
                                    <div class="ps-3">
                                        <h5 class="mb-1">@testimonial.Name</h5>
                                        <span>@testimonial.Title</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <p>No testimonials available yet.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
